<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ahoj</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        html {
            /* margin: 10%; */
        }

        body{
            margin-right: 40%;
            
        }
        .okraje{margin:10%;
            /* background-color: coral; */
        }
    </style>
</head>
<body>
    <div class="okraje">
        <h1 class="container">ahoj appka</h1>
        
    <ul> 
        {% for item in all_items %}
        <div class="alert alert-primary" role="alert"><li>{{ item.content }}</li>
        <form action="addTodo" method="POST">{% csrf_token %}
            <input type="submit" value="add">
        </form>
        </div>
        {% endfor %}    
    </ul>

    <!-- form -->
<form action="/addTodo/" method="POST">{% csrf_token %}
    <input type="text" name="content">
    <input type="submit" value="Add">
</form>
    <!-- end form -->
       
    </div>
</body>
</html>